.agendas_page {
  display: flex;
  flex-direction: column;
}
.agendas_page h1 {
  font-weight: 100;
}

.agendas_content {
  display: flex;
  flex-direction: row;
  width: 1400px;
  gap: 20px;
}

.input_data_agenda{
  margin-top: 20px;
}