.alergia_page {
  display: flex;
  flex-direction: column;
  width: 1500px;
}

.alergia_page h1 {
  font-weight: 100;
}

.alergia_form {
  display: flex;
  flex-direction: row-reverse;
}

.btn_add_alergia {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  gap: 10px;
}

.alergia_table {
  margin-left: 20px;
  margin-top: 20px;
}
