.alergia_page {
  display: flex;
  flex-direction: column;
}

.alergia_page h1 {
  font-weight: 100;
}

.alergia_content {
  display: flex;
  gap: 20px;
  margin-left: 300px;
}

.btn_add_alergia {
  display: flex;
  flex-direction: row-reverse;
}

.alergia_table{
  margin-left: 200px;
  margin-top: 20px;
}